
$button-width: 75px;
$large-button: $button-width * 2;


body {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

#calculator {
  position: relative;
  width: 300px;
  height: min-content;
  border-radius: 5px;
  
}

#display {
  padding: 10px;
  text-align: right;

}
.expression {
  text-align: right;
  min-height: 24px;
}

.input {
  min-height: 30px;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  
  width: $button-width;
  height: 65px;
  border-radius: 5px;
}

#clear, #zero {
  width: $large-button;
  grid-column: 1 / span 2;
}

#equals {
  grid-column: 4; 
  grid-row: 4 / span 2;
  
  height: 130px;
  
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
   






